{% include 'html-header.twig' %}
{% block head %}
{% endblock %}
</head>
<body class="{{ body_class }}" data-source="base.twig">
<div id="container">

  <div id="header" style="height:115px;">
    <div class="headerLogo" itemscope="" itemtype="https://schema.org/Brand">
      <a href="/" title="Skin Care, Body, Men, Hair and Gifts - Kiehl's Since 1851"><img
                itemprop="logo" alt="Skin Care, Body, Men, Hair and Gifts - Kiehl's Since 1851"
                src="http://demandware.edgesuite.net/aaen_prd/on/demandware.static/Sites-kiehls_us-Site/-/default/v1387592024658/themes/storefront/images/logo.png"
                width="282" height="76"></a>
    </div>

  </div>
  <hr/>

  <div id="main" role="main" class="container">


      {% if title %}<h1>{{ title }}</h1>{% endif %}
      <div class="wrapper {{ sidebar_class }}">
        {% block content %}
          Sorry, no content
        {% endblock %}
      </div>
      {% if sidebar %}
        <aside class="layout-sidebar">
          {{ sidebar }}
        </aside>
      {% endif %}


  </div>
  <hr/>
  <footer>

    {#{%  include 'partials/_debug.twig' %}#}
  </footer>

  {{ function('wp_footer') }}
</div>
</body>
</html>