<div class="s-12">
  {% if article is defined %}
    <div class="vs-1">
      <pre>
        {{ article|print_r }}
      </pre>
    </div>
  {% endif %}

  {% if post is defined %}
    <div class="vs-1">
      <pre>
        {{ post|print_r }}
      </pre>
    </div>
  {% endif %}

  {% if posts is defined %}
    <div class="vs-1">
      <pre>
        {{ posts|print_r }}
      </pre>
    </div>
  {% endif %}

  {% if arcticles is defined %}
    <div class="vs-1">
      <pre>
        {{ articles|print_r }}
      </pre>
    </div>
  {% endif %}
  <div class="vs-1">
    <pre>
      {{ user|print_r }}
    </pre>
  </div
</div>